.login-form {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

    .login-form form {
        min-width: 50%;
        max-height: 300px;
    }
