<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/content.min.css?@ViewBag.Version" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css?@ViewBag.Version" />
    <link rel="stylesheet" href="~/css/material.css?@ViewBag.Version" />

    <script src="~/lib/angular.min.js?@ViewBag.Version" type="text/javascript"></script>
    <script src="~/lib/angular_1_router.js?@ViewBag.Version" type="text/javascript"></script>
    <script src="~/app/app.min.js?@ViewBag.Version" type="text/javascript"></script>
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", false)
</body>
</html>
