<div ng-app="homeIot">
    <div ng-view></div>
</div>

<script>
    angular.module("homeIot").constant("title", @ViewBag.Title);
    angular.module("homeIot").constant("version", @ViewBag.Version);
</script>
